body {
    background-color: #222;
    color: white;
  }
/* game elemets */
  #money{
  position: fixed;
  left: px;
  top: 5px;
  font-size: 22px;
}
#upgrade{
  position: fixed;
  right: 55px;
  top: 150px;
  background-color: #464545;
  border-style: solid;
  border: 0px;
  width: 185px;
  height: 85px;
  color: white;
  font-size: 18px;
}
#upgrade1_count{
  position: fixed;
  right: 255px;
  top: 172px;
  font-size: 18px;
}
#upgrade2{
  position: fixed;
  right: 55px;
  top: 250px;
  background-color: #464545;
  border-style: solid;
  border: 0px;
  width: 185px;
  height: 85px;
  color: white;
  font-size: 18px;
}
#upgrade2_count{
  position: fixed;
  right: 255px;
  top: 272px;
  font-size: 18px;
}
#upgrade3{
  position: fixed;
  right: 55px;
  top: 350px;
  background-color: #464545;
  border-style: solid;
  border: 0px;
  width: 185px;
  height: 85px;
  color: white;
  font-size: 18px;
}
#upgrade3_count{
  position: fixed;
  right: 255px;
  top: 372px;
  font-size: 18px;
}
#upgrade4{
  position: fixed;
  right: 55px;
  top: 450px;
  background-color: #464545;
  border-style: solid;
  border: 0px;
  width: 185px;
  height: 85px;
  color: white;
  font-size: 18px;
}
#upgrade4_count{
  position: fixed;
  right: 255px;
  top: 472px;
  font-size: 18px;
}
#income_per_sec{
  position: fixed;
  right: 24px;
  font-size: 20px;
}
#earn_money{
  position: fixed;
  top: 60px;
  background-color: #464545;
  border-style: solid;
  border: 0px;
  color: white;
  font-size: 18px;
  width: 85px;
  height: 65px;
}
#save{
  position: fixed;
  top: 150px;
  background-color: #464545;
  border-style: solid;
  border: 0px;
  color: white;
  font-size: 18px;
  width: 85px;
  height: 65px;
}

#reset_save{
  position: fixed;
  top: 240px;
  background-color: #464545;
  border-style: solid;
  border: 0px;
  color: white;
  font-size: 18px;
  width: 85px;
  height: 65px;
}

/* dev things */
#free{
  position: fixed;
  left: 685px;
  background-color: #464545;
  border-style: solid;
  border: 0px;
  color: white;
  font-size: 18px;
}
#set_money{
  position: fixed;
  left: 485px;
  background-color: #464545;
  border-style: solid;
  border: 0px;
  color: white;
  font-size: 18px;
  width: 100px;
  height: 23px;
}
/* fun things */
#rainbow{
  position: fixed;
  left: 592px;
  background-color: #464545;
  border-style: solid;
  border: 0px;
  color: white;
  font-size: 18px;
  width: 85px;
  height: 23px;
}
